---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="404 NF" />
	</head>
	<body>
		<nav></nav>
		<div class="wrapper mt4 mb4">
			<h1>没找到该页面</h1>
			<p>你是不是乱写的地址！（恼</p>
		</div>
		<footer></footer>
	</body>
</html>
