---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="关于我们 | DLMC | DLTeam" description="关于DLMC" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>关于DLMC</h1>
			<div class="bio wrapper wrapper__readable mt8">
				<p>DLMC最初开服于2020年9月（我也忘了几号），当时几乎是乱开的，也没什么技术啥的，还用的垃圾服务器，这就是一周目；</p>
				<p>差不多在2021年7月（也有可能是8月？），我重新制作了整个服务端，QQ群内人数也从10人不到涨到了50人，但是总体还是很拉，这就是二周目；</p>
				<p>二周目同年差不多在10月初这样，我删掉了原来的所有文件，从头重新制作了一个服务端，多功能可拓展方便使用，并用心制作了多个玩法（最初只有生存和空岛）</p>
				<p>后来又添加了两种玩法并积极维护至今，感谢大家的大力支持www</p>
			</div>
			<h1>关于DLTeam</h1>
			<div class="bio wrapper wrapper__readable mt8">
				<p>DLTeam最初创建于2021年10月30日，当时的设定是这是一个用于传递消息的管理层（指服主和管理员）群</p>
				<p>但是我后来发现，人太少了太安静了而且没什么东西需要沟通，于是我在大群发布了DLTeam招募令，目前群内成员有：</p>
				<p>服主x1，管理员x2，机器人x1，股东x1（感谢老板wwww），以及建筑师/策划x1</p>
				<p>什么？你也有一技之长并想加入DLTeam？没问题！加入任意群聊（QQ群/Discord）并联系Itz_Dr_Li即可！</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
