---
---

<div class="flex font-thin text-light-blue-dark dark:text-dark-blue-light px-6">
  <div class="relative scroller w-16 overflow-hidden">
    <span class="absolute top-0 tracking-wide font-black animate-slide-text">
      生存<br />
      空岛<br />
      床战<br />
      模组<br />
          
    </span>
  </div>
  <div>for everyone</div>
</div>
